.fecha{
    margin-bottom: 0;
    font-size: 0.7rem;
    opacity: 0.7;
}

.pagos{
    font-size: 1.2rem;
    color: rgb(28, 179, 85);
    font-weight: bold;

}

.notas{
    font-style: italic;
}

.pago-par{
    margin-bottom: 0;
}
/////
.targeta2{
    background-color: rgb(205, 207, 209);
    padding-top: 12px;
}

.fecha{
    margin-bottom: 0;
    font-size: 0.7rem;
    opacity: 0.7;
}

.fio{
    color: rgb(204, 75, 75);
    font-weight: bold;
   
}