
  <mat-card class="separasion-tajeta">
    <h3>Cuentes Favoritos</h3>
    <div *ngIf="!allClientes2" class="m-auto">
        <mat-spinner></mat-spinner>
    </div>
      <div *ngFor="let cliente of allClientes2" class="col-md-12 ">
        <a routerLink="/debet/{{cliente._id}}">
          <div class="card bg-light">
            <div class="card-body">
              <p class="card-text">Number: {{cliente.clienteId.name}} </p>
              <p class="card-text">Credito: {{cliente.capmax  }}</p>
            </div>
          </div>
        </a>
      </div>
  </mat-card>