
  <mat-card class="separasion-tajeta">
      <div fxLayout="row" fxLayoutAlign="center center" >
            <h3>Cliente Favoritos </h3><ngb-rating id="esterlla" [(rate)]="esterlla" [starTemplate]="t" [readonly]="true" max="1"></ngb-rating>
      </div>
    <div *ngIf="!allClientes2" class="m-auto">
        <mat-spinner></mat-spinner>
    </div>

    <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Apodo</th>
            <th scope="col">Detalle</th>
          </tr>
        </thead>
        <tbody *ngFor="let cliente of allClientes2" >
          <tr>
            <td>{{cliente.clienteId.name}}</td>
            <td>{{cliente.clienteId.apodo}}</td>
            <a [routerLink]="['/debet',cliente._id]" >
              <button class="boton-info" mat-raised-button color="primary"><mat-icon>info</mat-icon></button>
            </a>
          </tr>
        </tbody>
      </table> 
  </mat-card>




<ng-template #t let-fill="fill" >
      <span *ngIf="fill === 100" class="star full">&#9733;</span>
      <span *ngIf="fill === 0" class="star ">&#9733;</span>
      <span *ngIf="fill < 100 && fill > 0" class="star">
       <span  class="half" [style.width.%]="fill">&#9733;</span>&#9733;
      </span>
</ng-template>