.header-image {
    background-image: url('https://loremflickr.com/320/240/brazil,rio');
    background-size: cover;
}

.capletelname{
    text-transform: capitalize;
    margin-left: 25px
}

.credito{
    color: rgb(33, 131, 98)
}

.total{
    color: red
}

table {
    width: 100%;
  }