
    <mat-tab-group id="debet-card" backgroundColor="primary" mat-stretch-tabs >
    <mat-tab label="CLIENTE">
    <mat-card>
    <div fxLayout="row"  *ngIf="!detCard" fxLayoutAlign="center center" >
        <mat-spinner></mat-spinner>
    </div>
    

  <div *ngIf="detCard">
    <div fxLayout="row" >
      <div fxLayout="row" fxLayoutAlign="center center" >
        <div mat-card-avatar class="header-image"></div>
      </div>
      <h3 class="capletelname">{{detCard.name}}</h3>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <mat-card-subtitle><p>{{detCard.created | date }}</p></mat-card-subtitle>
        <mat-slide-toggle>
          Favorito
        </mat-slide-toggle>
    </div>
    
    <hr>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <p>Deuda Total: <span class="total"> {{detCard.total | currency}}</span></p>
      <button mat-button (click)="editBoton()" class="btn btn-success" mat-mini-fab color="primary"><mat-icon>build</mat-icon></button>
    </div>
    
    <p>Limite De Credito:<span class="credito"> {{detCard.capmax |  currency}}</span></p>
    <mat-progress-bar mode="determinate"   [color]="colorTotal" [value]="porsiento"></mat-progress-bar>

    <mat-card-content>
      <p>Nota : {{detCard.nota}}</p>
    </mat-card-content>
    <hr>
    <mat-card-actions>
      <div fxLayout="row" fxLayoutAlign="space-evenly center" >

        <button mat-button (click)="fiar()" class="btn btn-success" mat-raised-button color="primary">Fiar</button>
        <button mat-button (click)="pagar()"class="btn btn-danger" mat-raised-button color="accent">Pagar</button>
      </div>
    </mat-card-actions>
    <app-message></app-message>
  </div></mat-card>
</mat-tab>


  <mat-tab label="His. CREDITO">

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


          <!-- Position Column -->
          <ng-container matColumnDef="cantida">
            <th mat-header-cell *matHeaderCellDef> Cantida </th>
            <td mat-cell *matCellDef="let element" [style.color]="red"> {{element.cantida | currency}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="created">
            <th mat-header-cell *matHeaderCellDef> Creado </th>
            <td mat-cell *matCellDef="let element"> {{element.created | date}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="nota">
            <th mat-header-cell *matHeaderCellDef> Nota </th>
            <td mat-cell *matCellDef="let element"> {{element.nota}} </td>
          </ng-container>
        

        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

  </mat-tab>


        <mat-tab label="RECEBO"> 

      <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8" >


          <!-- Position Column -->
          <ng-container matColumnDef="cantida">
            <th mat-header-cell *matHeaderCellDef> Cantida </th>
            <td mat-cell *matCellDef="let element" [style.color]="green"> {{element.cantida | currency}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="created">
            <th mat-header-cell *matHeaderCellDef> Creado </th>
            <td mat-cell *matCellDef="let element"> {{element.created | date}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="nota">
            <th mat-header-cell *matHeaderCellDef> Nota </th>
            <td mat-cell *matCellDef="let element"> {{element.nota}} </td>
          </ng-container>
        

        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
           
        </mat-tab>
      </mat-tab-group>
  


  <!-- <div *ngIf="fierView">
      <form action="">
        <input type="text" [(ngModel)]="fnotaFrom" name="notaFrom" placeholder="notaFrom">
        <input type="number" [(ngModel)]="fpagosFrom" name="pagosFrom" placeholder="pagos">
        <button type="button" (click)="fsometerPagos()" [disabled]="btnDisabled" class="btn btn-primary">Someter</button>
      </form>
  </div>

  <div *ngIf="pagosView">
    <form action="">
      <input type="text" [(ngModel)]="pnotaFrom" name="notaFrom" placeholder="notaFrom">
      <input type="number" [(ngModel)]="ppagosFrom" name="pagosFrom" placeholder="pagos">
      <button type="button" (click)="psometerPagos()" [disabled]="btnDisabled" class="btn btn-primary">Someter</button>
    </form>
  </div> -->






