<form fxLayout="column" fxLayoutAlign="center center">
    <h3>Anotra</h3>

  <div class="form-group" >
    <label >Nota</label>
    <input type="text" class="form-control" name="fnotaFrom" [(ngModel)]="fnotaFrom"  placeholder="Nota" >
  </div>

  <mat-form-field>
    <input matInput name="fpagosFrom" [(ngModel)]="fpagosFrom"  autofocus placeholder="maxsimo monto.." type="number" >
    <span matPrefix>$&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>

  <button mat-raised-button mat-dialog-close color="accent" (click)="fsometerPagos()" class="btn btn-primary"  [disabled]="btnDisabled">Someter</button>
</form>