<form fxLayout="column" fxLayoutAlign="center center">

    <h3>Pagos</h3>

  <div class="form-group" >
    <label >Nota</label>
    <input type="text" class="form-control" name="pnotaFrom" [(ngModel)]="pnotaFrom"  placeholder="Nota" >
  </div>

  <mat-form-field>
    <input matInput name="ppagosFrom" [(ngModel)]="ppagosFrom"  autofocus placeholder="maxsimo monto.." type="number" >
    <span matPrefix>$&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>

  <button mat-raised-button mat-dialog-close color="accent" (click)="psometerPagos()" class="btn btn-primary"  [disabled]="btnDisabled">Someter</button>
</form>