


<div  fxLayout="column" fxLayoutAlign="space-around center" >
<mat-card class="separasion-tajeta login-card">
  <app-message></app-message>
    <div fxLayout="row" fxLayoutAlign="space-around center" >
      <img id="logo" src="../assets/img/booklogo.png" alt="">
    </div>
    <hr>
      <form>
        <div class="form-group">
          <label class="form-control-label">Email</label>
          <input type="email" name="email" class="form-control" [(ngModel)]="email">
        </div>
        <div class="form-group">
          <label class="form-control-label">Password</label>
          <input type="password" name="password" class="form-control"  (keyup.enter)="login()" [(ngModel)]="password">
        </div>
        <hr>
        <div fxLayout="column" fxLayoutAlign="space-around center" >
          <button  type="button"  mat-raised-button color="primary" (click)="login()" [disabled]="btnDisabled">Iniciar Sesión</button>
        </div>
      </form>
</mat-card>
</div>




