<section >
  <div class="container">

    <div class="card bg-ligth">
      <div *ngIf="cliente" class="card-body">
        <div class="row">
          <div>
            <h1>{{cliente.name}}</h1>
            <h4>Estrella:{{cliente.averageRating}}</h4>
          </div>
          <div >
            <button type="button" (click)="fiarV1()" class="btn btn-success">Fiar</button>
            <button type="button" (click)="pagarV1()" class="btn btn-danger">pagar</button>
            <button *ngIf="!linadeCreditoFormVies" type="button" (click)="newLiniadeCreditoV1()" class="btn btn-primary">pagar</button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="linadeCreditoFormVies" class="card bg-ligth">
      <form>

        <div class="form-group">
          <label >Credito</label>
          <input type="text" class="form-control" name="name" [(ngModel)]="name"  placeholder="Numbre de Credito">
        </div>

        <div class="form-group">
          <label >Nota</label>
          <input type="text" class="form-control" name="nota" [(ngModel)]="nota"  placeholder="Nota">
        </div>

        <div class="form-group">
            <label >Maxsimo monto de Credito</label>
            <input type="number" class="form-control" name="capmax" [(ngModel)]="capmax"  placeholder="maxsimo monto..">
        </div>

        <button type="submit" (click)="oncretLine()" class="btn btn-primary"  [disabled]="btnDisabled">Someter</button>
      </form>
    </div>
    <div class="card bg-ligth">

    </div>
    <div class="card bg-ligth">

    </div>
    <div class="card bg-ligth">
      <h4>Linea de Credito:</h4>
      <div>
      </div>
    </div>
  </div>
</section>
