.separasion-tajeta{
    margin-bottom: 10px
}

#serchbar{
    width: 100%;
}

.search-card {
    max-width: 400px;

}

  .example-header-image {
    background-image: url('https://loremflickr.com/320/240/brazil,rio');
    background-size: cover;
  }

.apodo {
    font-size: 23px;
    font-family: Georgia;
    text-transform: capitalize;
}

.rating {
    color: yellow
}

.capmax {
    color: rgb(0, 255, 0)
}
.total {
    color: rgb(255, 72, 0)
}