
<mat-card class="separasion-tajeta">
    <mat-form-field id="serchbar" appearance="outline" >
        <mat-label>Buscar Cliente</mat-label>
        <input matInput name="search" [(ngModel)]="search" (keyup.enter)="onClickSerch()"  autofocus >
        <mat-icon matSuffix (click)="onClickSerch()">search</mat-icon>
    </mat-form-field>
</mat-card>

<app-message  autofocus></app-message>
<div *ngFor="let cliente of resultOfSerch">
    <a routerLink="/debet/{{cliente._id}}">
        <mat-card class="separasion-tajeta search-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Apodo: <span class="apodo">{{cliente.clienteId.apodo}}</span></mat-card-title>
          <mat-card-subtitle>Nombre: {{cliente.clienteId.name}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Nota: {{cliente.nota}}</p>
          <p >Credito: $ <span class="capmax">{{cliente.capmax}}</span></p>
          <p >Total:$ <span class="total">{{cliente.total}}</span></p>
        </mat-card-content>
    </mat-card>
    </a>
</div>


<app-miss-cliente></app-miss-cliente>


<!-- <form class="example-form">
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form> -->