<section id="searchbar">
        <div>
          <div>
            <div >
              <div class="card bg-ligth">
                <div class="card-body">
                        <div>
                            <div >
                                <form>
                                    <input type="text" class="form-control" [(ngModel)]="search" placeholder="Buescar Cliente.." name="search">
                                    <button class="btn btn-primary" (click)="onserch()" type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                            <ul *ngFor="let cliente of resultOfSerch">
                              <li>Nombre: {{cliente.clienteId.name}} -- Apodo: {{cliente.clienteId.apodo}} -- Nota: {{cliente.nota}}</li>
                            </ul>
                        </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <app-miss-cliente>
      </app-miss-cliente>
      
      <app-todos-clientes>
      </app-todos-clientes>

      <app-history>
          
      </app-history>