<section id="searchbar">
        <div>
          <div>
            <div >
              <div class="card bg-ligth">
                <div class="card-body">
                        <div>
                            <div >
                                <form  >
                                    <input type="text" class="form-control"  placeholder="Buescar Cliente.." name="search">
                                    <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>

                            <div >
                                <button type="button" routerLink="/cliente" class="btn btn-success"><i class="fas fa-user-plus"></i> Cliente</button>
                            </div>
                        </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <app-miss-cliente>
      </app-miss-cliente>
      
      <app-todos-clientes>
      </app-todos-clientes>

      <app-history>
          
      </app-history>