<!-- <nav class="navbar navbar-expand-md navbar-dark bg-main">
    <a *ngIf="!data.user" class="navbar-brand" routerLink="/"><img src="../assets/img/booklogo.png" id="logo" alt="">
      LaMascota
    </a>

  <div *ngIf="data.user">
    <img id="userpitue" src="{{data.user.picture}}" > 
    <span id="username"> {{data.user.tienda}}</span>
  </div>

    <button class="navbar-toggler" type="button"
            (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse"
         [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a *ngIf="token" class="nav-link" routerLink="/">Lobby</a>
            </li>
        <li class="nav-item">
          <a *ngIf="!token" class="nav-link" routerLink="/register">Reristrasion</a>
        </li>
        <li class="nav-item">
            <a *ngIf="!token" class="nav-link" routerLink="/login">login</a>
        </li>

        <li class="nav-item">
          <a *ngIf="token" class="nav-link" routerLink="/clientserch">Ingersar Cliente</a>
        </li>

        <li class="nav-item">
            <a *ngIf="token"  class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav> -->

<app-sidenav></app-sidenav>
<div class="mat-typography app-frame mat-app-background" fxLayout="column"></div>
<span *ngIf="update">update</span>

