<div class="card bg-ligth">
  <div >
    <form>
      <input type="text" [(ngModel)]="serchForm" name="serchForm">
      <button (click)="onSerchClient()">buescar</button>
    </form>
    <div >
      <button type="button" routerLink="/cliente" class="btn btn-success"><i class="fas fa-user-plus"></i> Cliente</button>
  </div>
    <div *ngIf="resultOfSerch">
      <h3>Busqueda por Nomber</h3>
      <ul *ngFor="let rosn of resultOfSerch">
       <a routerLink="/clienteid/{{rosn._id}}" routerLinkActive="router-link-active" ><li>{{rosn.name}}</li></a>
      </ul>
    </div>
    <div *ngIf="resultOfSerchApodo">
      <h3>Busqueda por Apodo</h3>
      <ul *ngFor="let rosa of resultOfSerchApodo">
        <a routerLink="/clienteid/{{rosa._id}}" routerLinkActive="router-link-active" ><li>{{rosa.apodo}}</li></a>
      </ul>
    </div>
  </div>
</div>
<app-todos-clientes></app-todos-clientes>
