


<mat-sidenav-container class="app-sidenav-container" >
  <mat-sidenav    #sidenav class="app-sidenav mat-elevation-z10 back-b" [opened]="!isScreenSmall()" [mode]="isScreenSmall() ? 'over' : 'side'">

    <mat-toolbar color="primary">
        <span class="example-spacer"></span>
        MENU
        <span class="example-spacer"></span>
        <img id="logo" src="../assets/img/logo.png">
        
    </mat-toolbar>

    <mat-nav-list   *ngIf="token"> 
      <mat-list-item class="text-sli" *ngFor="let ruta of rutasArray">
          <mat-icon >{{ruta.logo}}</mat-icon><a matLine routerLink="{{ruta.ruta}}">{{ ruta.name }}</a>
      </mat-list-item>
    </mat-nav-list>
    <hr>

    <mat-toolbar *ngIf="token" (click)="logout()"  color="warn">
        <mat-toolbar-row>
            <span> Cerrar Sesión</span>
            <span class="example-spacer"></span>
            <mat-icon class="example-icon">error</mat-icon>
        </mat-toolbar-row>
    </mat-toolbar>

  </mat-sidenav>

  <div class="app-sidenav-content">
    <app-toolbar (toggleSidenav)="sidenav.toggle()"></app-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>



