
<div  fxLayout="row" fxLayoutAlign="space-around center" >
<div fxLayout="column" fxFlex="320px" >
  <app-message></app-message>
  <mat-card >
    <div fxLayout="column" fxLayoutAlign="center center" >
      <h2>Nuevo Cliente</h2>
    </div>
    <form>
      <div class="form-group">
        <label class="form-control-label">Nombre</label>
        <input type="text" name="name" class="form-control" [(ngModel)]="name">
      </div>

      <div class="form-group">
        <label class="form-control-label">Apodo</label>
        <input type="text" name="apodo" class="form-control" [(ngModel)]="apodo">
      </div>

      <div class="form-group">
        <label class="form-control-label">Telefono</label>
        <input type="number" name="cedula" class="form-control" [(ngModel)]="cedula" >
      </div>


    <mat-card >
        <mat-card-content>
        <h3>Verificar Cedula</h3>
          <section>
            <mat-slide-toggle
            (change)="changed()">
                Me deslisa!
            </mat-slide-toggle>
          </section>
          <p *ngIf="checked">Este servision no esta disponible en esto mometon</p>
        </mat-card-content>
      </mat-card> 
      <hr>
      <div fxLayout="column" fxLayoutAlign="center center" >
        <button mat-raised-button  (click)="register()" color="primary"[disabled]="btnDisabled">Ingresar  cliente</button>
      </div>
    </form>
  </mat-card>
</div>
</div>

      



        





